<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwOz5Dujsdx9p0aM3wYCyoXB-QxE0r7Og</string>
	<key>GCM_SENDER_ID</key>
	<string>1069701810864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rawmid.rawmid</string>
	<key>PROJECT_ID</key>
	<string>rawmid-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rawmid-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069701810864:ios:687195b0245a679dea0975</string>
</dict>
</plist>